* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
body{
    background-color: black;
}

h1{
    color:white;
    text-align: center;
}

.info{
    float:left;
    margin:0 10px;
}

.wrapper{
    margin: 0 auto;
    text-align: center;
}

.box{
    width:100%;
    height: auto;
}


.title{
    text-align: center;
}
  
.detail{
    text-align: left;
    font-weight: bold;
}